<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dis</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<form method="post"> {% csrf_token%}
<h3 class="text">Student Details</h3>
<table class="table">
    <thead>
      <tr>
        <th>RollNO</th>
        <th>Name</th>
          <th>Image</th>
        <th>Age</th>
          <th>Mark</th>

      </tr>
    </thead>
    <tbody>
    {% for i in f %}

      <tr>
        <td><input type="text" name="ro" value="{{i.rollno}}" hidden> {{i.rollno}}</td>
          <td><input type="text" name="nam" value=" {{i.name}}"></td>
          <td><input type="file" name="img" value=" <img src='{{i.image.url}}'>"></td>
        <td>{{i.age}}</td>
          <td>{{i.mark}}</td>
             </tr>
            {% endfor %}
     </tbody>
  </table>
 <input type="submit" class="btn btn-info"  value="update" formaction="new">
     <input type="submit" class="btn btn-info"  value="delete" formaction="new1">
</form>
</body>
</html>